button {
    margin-right: 2%;
    margin-left: 2%;
    font-family: "Baloo Regular";
    box-shadow: none;
    width: 2.4rem;
    height: 1rem;
    padding: 1rem 0;
    font-size: 1.5rem;
    border-radius: 50%;
    line-height: 0.05;
}

.round-steppers {
    text-align: center;
    display: flex;
    margin: 0 auto 0 auto;
    width: 12rem;
}

.number-input {
    width: 3rem;
}

span {
    margin-top: 5%;
}