<app-basic-card class="card">
    <p class="header">Ranglista</p>
    <div class="details">
        <input [(ngModel)]="searchInput" class="search" type="text" placeholder="Felhasználónév">
        <div class="player-scroll-bar">
            <div class="line" *ngFor="let player of filterPlayerList(); let i = index">
                <hr>
                <div class="player"><span class="position">{{i+1}}.</span>{{player.name}}</div>
                <div class="points">{{player.score}}</div>
            </div>
        </div>
    </div>
</app-basic-card>