hr {
    opacity: 0.25;
    margin-top: 3%;
    margin-bottom: 3%;
}

.player {
    display: inline-block;
    width: 30rem;
}

.points {
    display: inline-block;
}

.search {
    width: 28rem;
    margin-top: 1rem;
}

.position {
    display: inline-block;
    width: 10%;
}

.card {
    position: relative;
    right: 15%;
}