<app-basic-card>
    <p class="header">Ranglista</p>
    <div class="details">
        <input class="search" type="text" placeholder="Felhasználónév">
        <div class="line">
            <hr>
            <div class="player"><span class="position">1.</span> józsiiwinner12</div>
            <div class="points">84 564</div>
        </div>
        <div class="line">
            <hr>
            <div class="player"><span class="position">2.</span> kiscsiko1990</div>
            <div class="points">84 234</div>
        </div>
    </div>
</app-basic-card>