hr {
    opacity: 0.25;
    margin-top: 3%;
    margin-bottom: 3%;
}

.player {
    display: inline-block;
    width: 80%;
}

.points {
    display: inline-block;
    width: 20%;
    text-align: center;
}

.search {
    width: 27.4rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.position {
    display: inline-block;
    width: 10%;
}

p.header{
    width: 30rem
}

.card {
    position: relative;
    right: 15%;
}

.player-scroll-bar {
    overflow: auto;
    max-height: 25rem;
}

/* width */
::-webkit-scrollbar {
    width: 5px; 
 }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #03255F;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #3F68AE;
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #3F68AE;
  }