<div class="choose-unit">
    <div class="description">
        <p>2. Állítsd be, kiket küldesz harcba:</p>
    </div>

    <div class="image-with-silder" *ngFor="let unit of units">
        <div class="image-container">
            <app-icon-box>
                <img src={{unit.imageSrc}}>
            </app-icon-box>
        </div>
        <div class="slidecontainer">
            <p>{{unit.name}}: {{unit.countToAttack}} példány</p>
            <input type="range" min="0" max="{{unit.count}}" [(ngModel)]="unit.countToAttack" value="0">
        </div>
    </div>
</div>