<app-basic-card class="card" *ngIf="buildings?.length > 0">
  <p class="header">Épületek</p>
  <p class="short-description">Kattints rá, amelyiket szeretnéd megvenni.</p>
  <p class="details">Egyszerre csak egy épület épülhet!</p>

  <app-building-card-item class="card-item" *ngFor="let building of buildings; let i = index" [building]="building" (click)="selectBuilding(i)">
    <img class="item-image" src="{{building.imgSrc}}" />
  </app-building-card-item>

  <div class="footer">
    <button [disabled]="selectedIndex === -1" [ngClass]="{ 'button-not-selected': selectedIndex === -1}" (click)="buySelectedBuilding()">Megveszem</button>
  </div>
</app-basic-card>