<app-basic-card>
  <p class="header">Épületek</p>
  <p class="short-description">Kattints rá, amelyiket szeretnéd megvenni.</p>
  <p class="details">Egyszerre csak egy épület épülhet!</p>
  <app-basic-card-item class="card-item">
    <img
      class="item-image"
      src="../../../../../assets/buildings/zatonyvar.png"
    />
    <p class="body-important">Zátonyvár</p>
    <p class="body-important">50 ember-t ad a népességhez</p>
    <p class="body-important">200 krumplit termel körönként</p>
    <p class="body-details">1 db</p>
    <p class="body-details">45 Gyöngy / db</p>
  </app-basic-card-item>
  <app-basic-card-item class="card-item">
    <img
      class="item-image"
      src="../../../../../assets/buildings/aramlasiranyito.png"
    />
    <p class="body-important">Áramlásirányító</p>
    <p class="body-important">200 egység nyújt szállást</p>
    <p class="body-details">0 db</p>
    <p class="body-details">35 Gyöngy / db</p>
  </app-basic-card-item>
  <div class="footer">
    <button>Megveszem</button>
  </div>
</app-basic-card>
