button {
    font-size: 1.1rem;
    padding: 1% 4% 1% 4%;
}

.short-description {
    margin-bottom: 0;
}

.details {
    margin-top: 0;
}

.card {
    position: relative;
    right: 15%;
}

img {
    height: 7rem;
    width: 7rem;
}