<div class="choose-unit">
    <div class="description">
        <p>2. Állítsd be, kiket küldesz harcba:</p>
    </div>
    <div class="image-with-silder">
        <div class="image-container">
            <app-icon-box>
                <img src="../../../../assets/icons/shark.svg">
            </app-icon-box>
        </div>
        <div class="slidecontainer">
            <p>Lézercápa: 20 példány</p>
            <input type="range">
        </div>
    </div>

    <div class="image-with-silder">
        <div class="image-container">
            <app-icon-box>
                <img src="../../../../assets/icons/seal.svg">
            </app-icon-box>
        </div>
        <div class="slidecontainer">
            <p>Rohamóka: 2 példány</p>
            <input type="range" min="1" max="100" value="50">
        </div>
    </div>

    <div class="image-with-silder">
        <div class="image-container">
            <app-icon-box>
                <img src="../../../../assets/icons/seahorse.svg">
            </app-icon-box>
        </div>
        <div class="slidecontainer">
            <p>Csatacsikó: 50 példány</p>
            <input type="range" min="1" max="100" value="50">
        </div>
    </div>
</div>