<div class="building-card-item" *ngIf="building" [ngClass]="{ 'building-card-item-selected': building.isSelected }">
    <div class="indicator">
        <span *ngIf="building.progress > 0">még {{building.progress}} kör</span>
    </div>
    <div class="item-image">
        <ng-content select=".item-image"></ng-content>
    </div>
    <div class="header">
        <p>{{building.name}}</p>
        <div class="building-description">
            <p>{{building.description}}</p>
        </div>
    </div>
    <div class="details">
        <p>{{building.count}} db</p>
        <div *ngFor="let price of building?.prices">
            <p id="price">{{price.price}} {{price.priceTypeName}} / db</p>
        </div>
    </div>
</div>