<div class="status-bar">
    <p class="status-bar-item">4. Kör</p>
    <p class="status-bar-item">23. Hely</p>
    
    <div class="status-bar-item">
        <div class="image-with-text">
            <div class="image-box">
                <img src="../../../assets/main-layout/shark.svg">
            </div>
            <p class="image-text">0</p>
        </div>
    </div>

    <div class="status-bar-item">
        <div class="image-with-text">
            <div class="image-box">
                <img src="../../../assets/main-layout/seal.svg">
            </div>
            <p class="image-text">3</p>
        </div>
    </div>

    <div class="status-bar-item">
        <div class="image-with-text">
            <div class="image-box">
                <img src="../../../assets/main-layout/seahorse.svg">
            </div>
            <p class="image-text">4</p>
        </div>
    </div>

    <div class="status-bar-item">
        <div class="image-with-text">
            <div class="image-box">
                <img src="../../../assets/main-layout/shell.svg">
            </div>
            <div class="image-text-group">
                <p class="image-text">122</p>
                <p class="image-text">20/kör</p>
            </div>
        </div>
    </div>

    <div class="status-bar-item">
        <div class="image-with-text">
            <span class="image-box">
                <img src="../../../assets/main-layout/coral.svg">
            </span>
            <div class="image-text-group">
                <p class="image-text">230</p>
                <p class="image-text">12/kör</p>
            </div>
        </div>
    </div>

    <div class="status-bar-item">
        <p>1</p>
    </div>

    <div class="status-bar-item">
        <p>0</p>
    </div>

    <div class="status-bar-item">
        <p>0</p>
    </div>
</div>