<div class="status-bar">
    <div *ngIf="countryRound" class="status-bar-group left-group">
        <p class="status-bar-item">{{countryRound.round}}. Kör</p>
        <p class="status-bar-item">{{countryRound.rank}}. Hely</p>
    </div>
    
    <div class="status-bar-group right-group">

        <div *ngFor="let unit of units" class="status-bar-item">
            <div class="image-with-text">
                <app-icon-box>
                    <img src="{{imgBaseUrl}}{{unit.imgSrc}}">
                </app-icon-box>
                <p class="image-text">{{unit.count}}</p>
            </div>
        </div>

        <div *ngFor="let resource of resources" class="status-bar-item">
            <div class="image-with-text">
                <app-icon-box>
                    <img src="{{resource.imgSrc}}">
                </app-icon-box>
                <div>
                    <p class="image-text">{{resource.count}}</p>
                    <p class="image-text">{{resource.output}}/kör</p>
                </div>
            </div>
        </div>

        <div *ngFor="let building of buildings" class="status-bar-item">
            <div class="image-with-text">
                <app-icon-box>
                    <img  src="{{building.imgSrc}}">
                </app-icon-box>
                <div>
                    <p class="image-text">{{building.count}}</p>
                    <p class="image-text">{{building.progress !== 0 ? "1" : "0"}} épül</p>
                </div>
            </div>
        </div>

    </div>
</div>