<div class="status-bar">
    <div class="status-bar-group left-group">
        <p class="status-bar-item">4. Kör</p>
        <p class="status-bar-item">23. Hely</p>
    </div>
    
    <div class="status-bar-group right-group">

        <div *ngFor="let unit of resources.army" class="status-bar-item">
            <div class="image-with-text">
                <app-icon-box>
                    <img src="../../../assets/icons/shark.svg">
                </app-icon-box>
                <p class="image-text">{{unit.count}}</p>
            </div>
        </div>

        <div *ngFor="let product of resources.products" class="status-bar-item">
            <div class="image-with-text">
                <app-icon-box>
                    <img src="../../../assets/icons/shell.svg">
                </app-icon-box>
                <div>
                    <p class="image-text">{{product.count}}</p>
                    <p class="image-text">{{product.output}}/kör</p>
                </div>
            </div>
        </div>

        <div *ngFor="let building of resources.buildings" class="status-bar-item">
            <div class="image-with-text">
                <app-icon-box>
                    <img  src="../../../assets/icons/coral.svg">
                </app-icon-box>
                <div>
                    <p class="image-text">{{building.count}}</p>
                    <p class="image-text">{{building.progress !== 0 ? "1" : "0"}} épül</p>
                </div>
            </div>
        </div>

    </div>
</div>