img {
    height: 3.5rem;
    width: 3.5rem;
    padding: 20%;
}

.status-bar {
    display: flex;
    justify-content: center;
    background: rgba(255, 255, 255, 0.25) 0% 0% no-repeat padding-box;
    border-radius: 16px;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    filter: brightness(101%);
    color: #1C3E76;
    font-size: 1.3rem;
}

.status-bar-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.5% 5% 0.5% auto;
}

.image-with-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-text {
    margin: auto 0 auto 20%;
}