<app-basic-card>
  <p class="header">Sereg</p>
  <p class="short-description">Kattints rá, amelyiket szeretnéd megvenni.</p>
  <app-basic-card-item class="card-item">
    <app-icon-box class="item-image">
      <img src="../../../../../assets/icons/shark.svg" />
    </app-icon-box>
    <p class="body-important">Lézercápa</p>
    <div class="body-details">
      <div class="data-labels">
        <p>Birtokodban:</p>
        <p>Támadás/Védekezés</p>
        <p>Zsold (/kör/példány)</p>
        <p>Ellátmány (/kör/példány)</p>
        <p>Ár</p>
      </div>
      <div class="data-values">
        <p>0 db</p>
        <p>5/5</p>
        <p>1 Gyöngy</p>
        <p>1 Korall</p>
        <p>200 Gyöngy</p>
      </div>
      <div>
        <button>-</button>
        3
        <button>+</button>
      </div>
    </div>
  </app-basic-card-item>
  <app-basic-card-item class="card-item">
    <app-icon-box class="item-image">
      <img src="../../../../../assets/icons/seal.svg" />
    </app-icon-box>
    <p class="body-important">Rohamfóka</p>
    <div class="body-details">
        <div class="data-labels">
          <p>Birtokodban:</p>
          <p>Támadás/Védekezés</p>
          <p>Zsold (/kör/példány)</p>
          <p>Ellátmány (/kör/példány)</p>
          <p>Ár</p>
        </div>
        <div class="data-values">
          <p>0 db</p>
          <p>5/5</p>
          <p>1 Gyöngy</p>
          <p>1 Korall</p>
          <p>200 Gyöngy</p>
        </div>
        <div>
            <button>-</button>
            23
            <button>+</button>
          </div>
      </div>
  </app-basic-card-item>
  <app-basic-card-item class="card-item">
    <app-icon-box class="item-image">
      <img src="../../../../../assets/icons/seahorse.svg" />
    </app-icon-box>
    <p class="body-important">Csatacsikó</p>
    <div class="body-details">
        <div class="data-labels">
          <p>Birtokodban:</p>
          <p>Támadás/Védekezés</p>
          <p>Zsold (/kör/példány)</p>
          <p>Ellátmány (/kör/példány)</p>
          <p>Ár</p>
        </div>
        <div class="data-values">
          <p>0 db</p>
          <p>5/5</p>
          <p>1 Gyöngy</p>
          <p>1 Korall</p>
          <p>200 Gyöngy</p>
        </div>
        <div>
            <button>-</button>
            65
            <button>+</button>
          </div>
      </div>
  </app-basic-card-item>
  <div class="footer">
    <button>Megveszem</button>
  </div>
</app-basic-card>
<router-outlet></router-outlet>
