<app-basic-card class="card" *ngIf="spyinfos.length > 0">
    <p class="header">Kéminformációk</p>
    <div class="details">
        <div *ngFor="let spyinfo of spyinfos">
            <hr>
            <div class="line">
                <div class="country">{{spyinfo.targetCountryName}}</div>
                <div class="units">
                    <span class="unit">Védekező erő: {{spyinfo.defensePower}}</span>
                </div>
            </div>
        </div>
        <div *ngIf="spyinfos?.length === 0">
            <div>Nincs megjeleníthető kéminformáció</div>
        </div>
    </div>
</app-basic-card>