button {
    font-size: 1.1rem;
    padding: 1% 4% 1% 4%;
}


img {
    height: 5rem;
}

.card-items {
    display: flex;
    flex-wrap: wrap;
}

.card-container {
    max-width: 45rem;
    position: relative;
    right: 15%;
}