<div class="card-container" *ngIf="upgrades?.length > 0">
  <app-basic-card>
    <p class="header">Fejlesztések</p>
    <p class="short-description">
      Kattints rá, amelyiket szeretnéd megvenni.
    </p>
    <div class="details">
      Minden fejlesztés 15 kört vesz igénybe, egyszerre csak egy dolog fejleszthető és minden csak egyszer fejleszthető ki (nem lehet két kombájn).
    </div>

      <app-upgrade-card-item class="card-item" *ngFor="let upgrade of upgrades; let i = index" [upgrade]="upgrade" (click)="selectUpgrade(i)">
        <img class="item-image" src="{{imgBaseUrl}}{{upgrade.imageSrc}}">
      </app-upgrade-card-item>

    <div class="footer">
      <button [disabled]="!isSelectedEnabledToBuy()" (click)="buySelectedUpgrade()" [ngClass]="{'button-not-selected': !isSelectedEnabledToBuy()}">Megveszem</button>
    </div>
  </app-basic-card>
</div>