<app-basic-card>
  <p class="header">Fejlesztések</p>
  <p class="short-description">
    Kattints rá, amelyiket szeretnéd megvenni.
  </p>
  <p class="details">
    Minden fejlesztés 15 kört vesz igénybe, egyszerre csak egy dolog fejleszthető és minden csak egyszer fejleszthető ki (nem lehet két kombájn).
  </p>
  <app-basic-card-item class="card-item">
    <img
      class="item-image"
      src="../../../../../assets/upgrades/iszaptraktor.png"
    />
    <p class="body-important">Iszaptraktor</p>
    <p class="body-details">növeli a krumpli termesztést 10%-kal</p>
  </app-basic-card-item>
  <app-basic-card-item class="card-item">
    <img
      class="item-image"
      src="../../../../../assets/upgrades/iszapkombajn.png"
    />
    <p class="body-important">Iszapkombájn</p>
    <p class="body-details">növeli a korall termesztést 15%-kal</p>
  </app-basic-card-item>
  <app-basic-card-item class="card-item">
    <img
      class="item-image"
      src="../../../../../assets/upgrades/korallfal.PNG"
    />
    <p class="body-important">Korallfal</p>
    <p class="body-details">növeli a védelmi pontokat 20%-kal</p>
  </app-basic-card-item>
  <app-basic-card-item class="card-item">
    <img
      class="item-image"
      src="../../../../../assets/upgrades/szonaragyu.png"
    />
    <p class="body-important">Szonárágyú</p>
    <p class="body-details">növeli a támadópontokat 20%-kal</p>
  </app-basic-card-item>
  <app-basic-card-item class="card-item">
    <img
      class="item-image"
      src="../../../../../assets/upgrades/vizalatti-harcmuveszetek.PNG"
    />
    <p class="body-important">Vízalatti harcművészetek</p>
    <p class="body-details">növeli a védelmi és támadóerőt 10%-kal</p>
  </app-basic-card-item>
  <app-basic-card-item class="card-item">
    <img
      class="item-image"
      src="../../../../../assets/upgrades/alkimia.PNG"
    />
    <p class="body-important">Alkímia</p>
    <p class="body-details">növeli a beszedett adót 30%-kal</p>
  </app-basic-card-item>
  <div class="footer">
    <button>Megveszem</button>
  </div>
</app-basic-card>
