<app-basic-card class="card">
    <p class="header">Harc</p>
    <div class="details">
        <div *ngFor="let battle of battles">
            <hr>
            <div class="line">
                <div class="country">{{battle.defenderName}}</div>
                <div class="units">
                    <span *ngFor="let unit of battle.units" class="unit">{{unit.count}} {{unit.name}}</span>
                </div>
            </div>
        </div>
    </div>
</app-basic-card>
<router-outlet></router-outlet>