hr {
    opacity: 0.25;
    margin-top: 2%;
    margin-bottom: 2%;
}

p {
    color: white;
}

.line {
    font-size: 16px;
    font-family: "Baloo Regular";
    width: 45rem;
}

.no-info {
    text-align: center;
}

.country {
    display: inline-block;
    width: 20rem;
}

.units {
    display: inline-block;
    width: 25rem;
}

.unit {
    margin-right: 1rem;
}

.card {
    position: relative;
    right: 15%;
}