<app-basic-card>
    <p class="header">Harc</p>
    <div class="details">
        <hr>
        <div class="line">
            <div class="country">Atlantisz</div>
            <div class="units">
                <span class="unit">6 Lézercápa</span>
                <span class="unit">5 Rohamfóka</span>
                <span class="unit">32 Csatacsikó</span>
            </div>
        </div>
    </div>
    <div class="details">
        <hr>
        <div class="line">
            <div class="country">Atlantisz</div>
            <div class="units">
                <span class="unit">6 Lézercápa</span>
                <span class="unit">5 Rohamfóka</span>
                <span class="unit">32 Csatacsikó</span>
            </div>
        </div>
    </div>
</app-basic-card>
<router-outlet></router-outlet>