<div class="unit-card-item">
  <div class="item-image">
    <app-icon-box>
        <img src="{{imgBaseUrl}}{{unit.imageSrc}}">
    </app-icon-box>
  </div>
  <div class="header">
    <p>{{unit.name}}</p>
  </div>
  <div class="details">
    <div class="labels">
      <p>Birtokodban:</p>
      <p>Támadás/Védekezés</p>
      <p>Zsold (/kör/példány)</p>
      <p>Ellátmány (/kör/példány)</p>
      <p>Ár</p>
    </div>
    <div class="values">
      <p>{{unit.unitCount}} db</p>
      <p>{{unit.attack}}/{{unit.defense}}</p>
      <p>{{unit.pricePerRound}} Gyöngy</p>
      <p>{{unit.supply}} Korall</p>
      <p>{{unit.price}} Gyöngy</p>
    </div>
    <div class="steppers">
      <button class="stepper" (click)="changeNumberOfUnitsToBuy(-1)" [disabled]="!canDecrease()"  [ngClass]="{'button-not-selected': !canDecrease()}">-</button>
      <input class="number-input" type="number" min="0" [ngModel]="unit.numToBuy" step="1" (ngModelChange)="onInputChange($event)" [disabled]="!canIncrease()">
      <button class="stepper" (click)="changeNumberOfUnitsToBuy(1)" [disabled]="!canIncrease()"  [ngClass]="{'button-not-selected': !canIncrease()}">+</button>
    </div>
  </div>
</div>
