<main>
   <div [formGroup]="registerForm" class="form-container">
      <app-basic-form-card [form]="registerForm" (submitted)="onSubmit()" title="Regisztráció">
         <input type="text" placeholder="Felhasználónév" formControlName="userName">
         <input type="password" placeholder="Jelszó" formControlName="password">
         <input type="password" placeholder="Jelszó megerősítése" formControlName="passwordConfirmation">
         <input type="text" placeholder="A városod neve, amit építesz" formControlName="countryName">
         <div *ngIf="serverError" class="error">{{serverMessage}}</div>
         <div *ngIf="validationError" class="error">Tölts ki minden mezőt!</div>
         <a routerLink="/login" class="login-reg-link">Belépés</a>
    </app-basic-form-card>
   </div>
</main>