<main>
   <div [formGroup]="registerForm" class="form-container">
      <app-basic-form-card [form]="registerForm" (submitted)="onSubmit()" title="Regisztráció">
         <input type="text" placeholder="Felhasználónév" formControlName="userName">
         <input type="password" placeholder="Jelszó" formControlName="password">
         <input type="password" placeholder="Jelszó megerősítése" formControlName="passwordConfirmation">
         <input type="text" placeholder="A városod neve, amit építesz" formControlName="countryName">
         <div *ngIf="serverError" class="error">{{serverMessage}}</div>
         <div *ngIf="validationError && (
            userName.errors?.required ||
            passwordConfirmation.errors?.required ||
            countryName.errors?.required)" class="error">
            Tölts ki minden mezőt!
         </div>
         <div *ngIf="validationError && registerForm.errors?.notMatchingPasswords" class="error">
            Nem egyezik meg a két jelszó!
         </div>
         <a routerLink="/login" class="login-reg-link">Belépés</a>
      </app-basic-form-card>
   </div>
</main>