hr {
    opacity: 0.25;
}

.basic-card {
    background: #03255F 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 34px #03255F;
    border-radius: 16px;
    color: #ffffff;
    padding: 3%;
    width: 100%;
}

.card-items {
    max-width: 45rem;
    display: flex;
    flex-wrap: wrap;
}

.header {
    font-size: 1.5rem;
}

.footer {
    margin: 5% 0 5% 0;
    text-align: center;
}