<div class="basic-card">
  <div class="header">
    <ng-content select=".header"></ng-content>
  </div>
  <div class="body">
    <div class="short-description">
      <ng-content select=".short-description"></ng-content>
    </div>
    <div class="details">
      <ng-content select=".details"></ng-content>
    </div>
    <div class="card-items">
      <ng-content select=".card-item"></ng-content>
    </div>
    <div class="attack">
      <ng-content select=".player-list"></ng-content>
    </div>
  </div>
  <hr>
  <div class="footer">
    <ng-content select=".footer"></ng-content>
  </div>
</div>