.choose-round-container {
    margin: 5% auto 5% auto;
    text-align: center;
}

.expansion-panel-header {
    background-color: #346da7;
}

.expansion-panel {
    background-color: #3B7DBD;
    font-family: "Baloo Regular";
    color: white;
}

.home-force {
    display: inline-block;
    width: 20rem;
}

.other-force {
    width: 20rem;
    display: inline-block;
}

.line {
    margin: 2% auto 2% auto;
}

.tab-label {
    color: white;
}

.card {
    position: relative;
    right: 15%;
}