.basic-card-item {
    font-size: 1rem;
    font-family: "Baloo Bold";
    letter-spacing: 0;
    color: #ffffff;
    text-align: center;
    line-height: 1;
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.body-important {
    font-family: "Baloo Bold";
}

.body-details {
    font-family: "Baloo Regular";
}

.item-image {
    margin: auto;
}