main {
    background: transparent url('../../../assets/main-layout/main-background@2x.png') 0% 0% no-repeat padding-box;
    background-size: 100% 100%;
    height: 100vh;
    width: 100%;
}

.layout-body {
    display: flex;
    margin-top: 5%;
    margin-left: 1%;
}

.layout-left {
    margin-right: 1%;
    width: 10%;
}

.layout-right {
    margin: auto;
}

.status-bar {
    padding: 1%;
}