<app-basic-card-item class="card-item">
    <p class="body-important">1. Jelöld ki, kit szeretnél megtámadni:</p>
    <div class="body-details">
        <div class="search">
            <input type="text" placeholder="Felhasználónév">
        </div>
        <div>
            <hr>
            <p class="player-name">józsiiwinner12</p>
        </div>
        <div>
            <hr>
            <p class="player-name">kiscsiko1990</p>
        </div>
        <div>
            <hr>
            <p class="player-name">józsiiwinner12</p>
        </div>
        <div>
            <hr>
            <p class="player-name">kiscsiko1990</p>
        </div>
        <div>
            <hr>
            <p class="player-name">józsiiwinner12</p>
        </div>
        <div>
            <hr>
            <p class="player-name">kiscsiko1990</p>
        </div>
        <div>
            <hr>
            <p class="player-name">józsiiwinner12</p>
        </div>
    </div>
</app-basic-card-item>
<router-outlet></router-outlet>