<div class="palyer-list">
    <div class="component-container">
        <div class="palyer-list-container">
            <div class="description">
                <p>1. Jelöld ki, kit szeretnél megtámadni:</p>
            </div>
            
            <div class="player-scroll-bar">
                <input type="text" placeholder="Felhasználónév">
                <p>józsiiwinner12</p>
                <hr>
                <p>kiscsiko1990</p>
                <hr>
                <p>józsiiwinner12</p>
                <hr>
                <p>kiscsiko1990</p>
                <hr>
                <p>józsiiwinner12</p>
                <hr>
                <p>kiscsiko1990</p>
                <hr>
                <p>józsiiwinner12</p>
                <hr>
                <p>kiscsiko1990</p>
                <hr>
                <p>józsiiwinner12</p>
                <hr>
                <p>kiscsiko1990</p>
                <hr>
                <p>józsiiwinner12</p>
                <hr>
                <p>kiscsiko1990</p>
                <hr>
                <p>józsiiwinner12</p>
                <hr>
                <p>kiscsiko1990</p>
                <hr>
                <p>józsiiwinner12</p>
                <hr>
                <p>kiscsiko1990</p>
            </div>

        </div>
        <div class="choose-unit-container">
            <app-choose-unit></app-choose-unit>
        </div>
    </div>
</div>